.container-fluid {
  padding: 0px;
}

.row h2 {
  background-color: #60A34D;
  color: white;
  padding: 15px 0px;
  font-size: 1.5em;
}

.row p {
  padding: 15px 0px;
}

footer {
  background-color: #60A34D;
}